{% extends "default/bucket.html" %}

{# 
    This file can be used to extend the default bucket page (homepage) template with custom HTML 
    without replacing it entirely.

    To use, fill in HTML into the appripriate blocks and save the file as bucket.html
#}

{% block bucket_description %}
    {{ super() }}
{% endblock %}

{% block bucket_game %}
    {{ super() }}
{% endblock %}

{% block bucket_footer_row %}
    {{ super() }}
{% endblock %}

{% block end_body %}
    {{ super() }}
{% endblock %}