<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.image_link('icon') %}
    <link rel="icon" type="image/x-icon" href="{{ page.image_link('icon') }}">
{% endif %}
    <link rel="preload" href="/_static/bootstrap.min.css" as="style" />
    <link href="../_static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    {% if game.image_link('background') %}
    <link rel="preload" as="image" href="{{ game.image_link('background') }}">
    {% endif %}
    <style>
        {{ page.css }}
    </style>
    <title>{{ game.title }}</title>
</head>

<body>

    <div class="modal fade" id="screenshotModal" tabindex="-1" aria-labelledby=screenshotModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 98%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="screenshotModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="screenshotModalImage" src="" alt="Screenshot" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>

    {% if game.image_link('background') %}
    <div class="bg-fade-mask">
        <img src="{{ game.image_link('background') }}" class="img-fluid-bg" height="{{ game.image_obj('background').height }}" width="{{ game.image_obj('background').width }}" />
    </div>
    {% endif %}

    <div class="content d-inline-block mt-2">
        <a href="../index.html">All games</a>
    </div>

    <div class="container mt-2" id="game-content">

        <div class="row content mb-2">

            <div class="col-md-8">
                <div id="game-head-container">
                    {% if game.image_link('title') %}
                        <div><img src="{{ game.image_link('title') }}" id="game-title-img" class="img-fluid" /></div>
                    {% else %}
                        <h1 id="game-title">{{ game.title }}</h1>
                    {% endif %}
                    <span>
                        {% if game.author and game.author_link %}
                        By <a class="author-link" href="{{ game.author_link }}">{{ game.author }}</a>
                        {% elif game.author %}
                        By {{ game.author }}
                        {% endif %}
                    </span>
                </div>
                
                <div>
                    {% block game_description %}
                    {{ game.description | markdown }}
                    {% endblock %}
                </div>

                {% block button_links %}
                {% for btn in game.button_links %}
                <div>
                    <a class="btn btn-primary mb-1" href="{{ btn.link }}">
                        {% if btn.text %}
                        {{ btn.text }}
                        {% else %}
                        Purchase {{ game.title }}
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
                {% endblock %}

                <dl>

                    {% if game.platforms %}
                    <dt>Platforms</dt>
                    <dd>{{ game.platforms }}</dd>
                    {% endif %}

                    {% if game.made_with %}
                    <dt>Made with</dt>
                    <dd>{{ game.made_with }}</dd>
                    {% endif %}

                </dl>


                {% for release in game.releases %}
                <div class="release">
                    <h2>Release {{ release.version }}</h2>
                    {{ release.description | markdown }}

                    <ul>
                        {% for file in release.files %}
                        <li>
                            <a href="{{ file.link }}">{{ file.name }}</a>
                            {% if file.size %}
                            ({{ file.size | filesizeformat }})
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>

                    <dl>
                        <dt>Released</dt>
                        <dd>{{ release.date | date }}</dd>
                    </dl>

                </div>
                {% endfor %}

                {% if game.license %}
                <h2>License</h2>
                    {{ game.license | markdown }}
                {% endif %}

            </div>

            <div class="col-md-4">
                {% for screenshot in game.screenshots %}
                <img src="{{ screenshot.src }}" alt="Screenshot" style="cursor: pointer" class="img-fluid mb-3 thumbnail" data-name="{{ screenshot.name }}" data-src="{{ screenshot.src }}" data-bs-toggle="modal" data-bs-target="#screenshotModal">
                {% endfor %}
            </div>

        </div>
        {% if game.author_blurb %}
        <div class="row content mb-2">
            <div class="col-md-8">
                {% if game.author %}
                <h2>About {{ game.author }}</h2>
                {% endif %}
                <p>{{ game.author_blurb | markdown }}</p>
            </div>
            {% if game.image_link('author') %}
            <div class="col-md">
                <div id="author-img-contain" class="img-contain">
                    <img id="author-img" class="img-fluid mb-3 thumbnail" src="{{ game.image_obj('author').link }}" height="{{ game.image_obj('author').height }}" width="{{ game.image_obj('author').width }}" alt="Author's image" loading="lazy">
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}

    </div>

    {% block end_body %}
    <script src="../_static/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
    <script>
        {% autoescape false %}{{ page.js }}{% endautoescape %}
    </script>
    {% endblock %}
</body>

</html>
