body {
    background: #ada;
    padding-left: 12px;
    padding-right: 12px;
}

.content {
    padding: 12px;
    background-color: #ffffff;
    border-radius: 8px;
}

.thumbnail {
    border-radius: 4px;
}

.bg-fade-mask {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: -1;
    top: 0px;
}

.img-fluid-bg {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#game-content .content {
    /* Set background-color with game.toml css */
    /* background-color: #fffe; */
    backdrop-filter: blur(5px);
}

#bucket-content .img-contain {
    text-align: center;
    display: block;
}

#bucket-content .img-contain img {
    max-height: 200px;
    width: auto;
}

.author-link {
    text-decoration: none;
}

#game-title {
    font-weight: bolder;
}

#game-head-container {
    text-align: center;
}

.content img {
    max-width: 100%;
}