body {
    background: #ada;
    padding-left: 12px;
    padding-right: 12px;
}

.content {
    padding: 12px;
    background-color: #ffffff;
    border-radius: 8px;
}

.thumbnail {
    border-radius: 4px;
}

#game-content .img-contain {
    text-align: right;
    display: block;
}

.author-link {
    text-decoration: none;
}

#game-title {
    font-weight: bolder;
}

#game-head-container {
    text-align: center;
}